{% extends "base.html" %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h2>Check for Eligibility Issuance</h2>
        <div class="content">
            <form action="{{ url_for("predict")}}" method="POST">
                <div class="user-details" style="background: transparent;">
                    <table style="width: 100%; border-spacing: 10px; height: 100%">
                    <tr>
                        <div class="input-box" style="background: transparent;">
                            <td>
                                    <span class="details">Own'car</span>
                            </td>
                            <td>
                                    <select name="cars" id="cars" placeholder="Yes or No">
                                        <option value="-1">Choose your Option:</option>
                                        <option value="1">YES</option>
                                        <option value="0">NO</option>   
                                    </select>
                            </td>
                        </div>
                    
                        <div class="input-box">
                            <td>
                                <span class="details">Own's Home</span>
                            </td>
                            <td>
                                <select name="home" id="home" placeholder="Yes or No">
                                    <option value="-1">Choose your Option:</option>
                                    <option value="1">YES</option>
                                    <option value="0">NO</option>    
                                </select>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="input-box">
                            <td>
                                <span class="details">No. of children</span>
                            </td>
                            <td>
                                <input type="number" name="cntChild" placeholder="Please enter no. of children" required>
                            </td>
                        </div>
                    
                        <div class="input-box">
                            <td>
                                <span class="details">Income Type</span>
                            </td>
                            <td>
                                <select name="IncomeType" id="IncomeType" placeholder="Select a option">
                                    <option value="-1" selected>Choose your Option</option>
                                        <option value="0">Commercial Associate</option>
                                        <option value="1">Pensioner</option>
                                        <option value="2">State Servant </option>
                                        <option value="3">Student </option>
                                        <option value="4">Working </option>
                                </select>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="input-box">
                            <td>
                                <span class="details">Education Type</span>
                            </td>
                            <td>
                                <select name="educationType" id="educationType" placeholder="Select a option">
                                    <option value="-1" selected>Choose your Option</option>
                                    <option value="0">Academic Degree</option>
                                    <option value="1">Higher Education</option>
                                    <option value="2">Incomplete Higher</option>
                                    <option value="3">Lower Secondary </option>
                                    <option value="4">Secondary / Secondary Special </option>
                                </select>
                            </td>
                        </div>
                
                        <div class="input-box">
                            <td>
                                <span class="details">Total Income</span>
                            </td>
                            <td>
                                <input type="number" name="income" placeholder="Enter total income" required>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="input-box">
                            <td>
                                <span class="details">Family Status</span>
                            </td>
                            <td>
                                <select name="familyStatus" id="familyStatus" placeholder="Select a Option">
                                    <option value="-1" selected>Choose your Option</option>
                                    <option value="0">Civil marriage</option>
                                    <option value="1">Married</option>
                                    <option value="2">Separated</option>
                                    <option value="3">Single / Not married </option>
                                    <option value="4">Widow </option>
                                </select>
                            </td>
                        </div>

                        <div class="input-box">
                            <td>
                                <span class="details">Family Members</span>
                            </td>
                            <td>
                                <input type="number" name="cntMem" placeholder="Enter no. of family members" required>
                            </td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div class="input-box">
                            <td>
                                <span class="details">Housing Type</span>
                            </td>
                            <td>
                                <select name="housingType" id="housingType" placeholder="Select a option">
                                    <option value="-1" selected>Choose your Option</option>
                                    <option value="0">Co-op apartment</option>
                                    <option value="1">House / apartment</option>
                                    <option value="2">Muncipal apartment </option>
                                    <option value="3">Office apartment </option>
                                    <option value="4">Rented apartment </option>
                                    <option value="5">with parents </option>
                                </select>
                            </td>
                        </div>
                    
                        <div class="input-box">
                            <td>
                                <span class="details">Age</span>
                            </td>
                            <td>
                                <input type="number" name="age" placeholder="Enter your age" required>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="input-box">
                        <td>
                            <span class="details">Gender</span>
                        </td>
                        <td>
                            <select name="gender" id="gender" placeholder="Select a option">
                                <option value="-1">Choose your Option:</option>
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </td>
                        </div>
                    
                        <div class="input-box">
                            <td>
                                <span class="details">Years Employed</span>
                            </td>
                            <td>
                                <input type="number" name="yearsEmployed" placeholder="Total no. of years employed" required>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <div class="button">
                            <td>
                                <input type="submit" value="Submit">
                            </td>
                        </div>
                    </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
    <br><br>
    {% if msg == 0 %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Not Eligible</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ msg }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-dizzy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% if msg == 1 %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-s font-weight-bold text-success text-uppercase mb-1">
                                    Eligible</div>
                                {% if income < 25000%}
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Salary Insufficient</div>
                                {% else %}
                                {% if 25000 <= income <= 49000%}
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Silver Card</div>
                                {% else %}
                                {% if 50000 <= income <= 100000 or incomeType == 4%}
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Gold/Platinum Card</div>
                                {% else %}
                                {% if income > 100000 or incomeType == 4%}
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Premium Card</div>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% if income >= 25000%}
                                    <a href="#" class="btn btn-success">
                                            <span class="icon text-white-25">
                                            </span>
                                            <span class="text">Send Notification</span>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <i class="far fa-grin-beam"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
